body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 40px;
  font-weight: 100;
  line-height: 29px;
  text-align: left;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  color: #878787;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}
small {
  text-align: center;
}
.wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.body-app {
  padding: 20px;
  border: 1px solid blueviolet;
  border-radius: 5px;
}
